<div class="main-content">
  <div class="section-content section-content-p30">
    <h4>
      Orders
    </h4>
    <hr>
    <div class="container-fluid">
      <div *ngIf="orders.length > 0">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Tracking Number</th>
              <th>Date placed</th>
              <th>Total Price</th>
              <th>Status</th>
              <th>Paid</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let order of orders">
              <td>
                <p>{{order.orderTrackingNumber}}</p>
              </td>
              <td>
                <p>{{order.dateCreated}}</p>
              </td>
              <td>
                <p>{{order.totalPrice | currency:'USD':'symbol':'1.0-2'}}</p>
              </td>
              <td>
                <p>{{order.status}}</p>
              </td>
              <td>
                <p *ngIf="order.isPaid; else myElseBlock">Yes</p>
                <ng-template #myElseBlock>No</ng-template>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div *ngIf="orders.length == 0">
        <h3>No orders placed yet.</h3>
      </div>
    </div>
  </div>
</div>

