<div class="menu-sidebar-content js-scrollbar1">
  <nav class="navbar-sidebar">
    <ul class="list-unstyled navbar-list">
      <li>
        <a routerLink="user/userInfo" routerLinkActive="active-link">
          User Info
        </a>
      </li>
      <li>
        <a routerLink="user/userAddresses" routerLinkActive="active-link">
          Addresses
        </a>
      </li>
      <li>
        <a routerLink="user/userOrders" routerLinkActive="active-link">
          Orders
        </a>
      </li>
      <!--<li>
        <a href="#">Gifts</a>
      </li>-->
    </ul>
  </nav>
</div>
